@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    background-color: #000000;
    position: relative; 
    width: 30%;
    height: 40vw;
    left: 30%;
    display: grid;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    margin-top: 2vw;
}

.pantalla {
    background-color: #f0f8ff;
    width: 25vw;
    height: 6vw;
    position: relative;
    align-self: center;
}

#pantalla {
    font-size: xxx-large;
}

.seccion-numeros {
    background-color: rgba(206, 202, 203, 0.267);
    border-radius: 15px;
    height: 90%;
    position: relative;
    display: flex;
    justify-content: center;
}

.btn-num {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}   

.colum-num {
    width: 80%;
    height: 25%;
    padding: 1vh;
}   

.fila-num {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}
.fila-num .btn-digito {
    color: #000000;
    width: 100%;
    height: 100%;
    background-color: #f56060;
}

.fila-num .btn-digito:hover {
    background-color: #ff0909de;
    transition: 1.5s;
}

.fila-num button.btn-digito:nth-of-type(-n+4) {
    height: 40%;
}

.fila-num button.btn-digito:last-of-type {
    height: 60%;
}


.btn-digito {
    width: 30%;
    height: 100%;
    font-family: Coiny;
    font-size: x-large;
}